@inject IModalService ModalService
@inject HttpClient Http
@inject IToastService toastService

    <button @onclick="Delete" class="btn btn-danger">Delete</button>
    <button @onclick="BlazoredModal.Cancel" class="btn btn-secondary">Cancel</button>
@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter] public RentLog Rentlog { get; set; }

    //Movie Movie {get;set;}

    private async Task Delete()
    {
        await Http.DeleteAsync($"http://localhost:4000/api/rentlogs/{Rentlog.Id}");
        toastService.ShowWarning("Your Rental was succesfully deleted, refresh too see result", "Rental Deleted!");
        BlazoredModal.Close(ModalResult.Ok<RentLog>(Rentlog));
    }

}