@inherits LayoutComponentBase

<BlazoredModal />
<BlazoredToasts />

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <!--
<header>
    <a href="/" title="Return to the homepage" id="logo">
        <img id="logo" src="../Images/Logo.png" alt="SFF Logo" />
    </a>
</header>
    <div class="top-row px-4">
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>
-->

    <div class="content px-4">
        @Body
    </div>
</div>
