@page "/addMovie"

@using System.Net.Http
@inject HttpClient Http

<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Title</label>
    <input @bind="_title" placeholder="Revengers" class="form-control">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Description</label>
    <input @bind="_description" placeholder="Earth's mightiest heroes must come together and learn to fight as a team if they are going to stop the mischievous Loki and his alien army from enslaving humanity." class="form-control" >
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Image URL</label>
    <input @bind="_imageURL" placeholder="https://upload.wikimedia.org/wikipedia/en/8/8a/The_Avengers_%282012_film%29_poster.jpg" class="form-control" >
  </div>
  <button type="submit" @onclick="@AddMovieInput" class="btn btn-primary">Submit</button>
</form>

@if (movieAdded)
{
    <div class="alert alert-success" role="alert">
  Movie Added
</div>
}



@code {
    private string _title;
    private string _description;
    private string _imageURL;
    private int _quantity = 5;
    private string APIURL = "http://localhost:4000/api/movies";
    private bool movieAdded = false;


    private async Task AddMovieInput()
    {
        var addItem = new Movie { Title = _title, ImageURL = _imageURL, Description = _description, Quantity = _quantity};
        _title = null; _imageURL = null; _description = null;
        movieAdded = true;
        await Http.PostJsonAsync(APIURL, addItem);
    }
}
