@inject IModalService ModalService
@inject HttpClient Http
@inject IToastService toastService
    <button @onclick="Delete" class="btn btn-danger">Delete</button>
    <button @onclick="BlazoredModal.Cancel" class="btn btn-secondary">Cancel</button>
@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter] public Movie Movie { get; set; }

    //Movie Movie {get;set;}

    private async Task Delete()
    {
        await Http.DeleteAsync($"http://localhost:4000/api/movies/{Movie.Id}");
        toastService.ShowWarning("Your Movie was succesfully deleted", "Movie Deleted!");
        BlazoredModal.Close(ModalResult.Ok<Movie>(Movie));
    }

}