@inject IModalService ModalService
@inject HttpClient Http
@inject IToastService toastService

<div class="simple-form">
    <div class="form-group">
        <label for="review-rating">Rating</label>
        <input @bind="@Rating" type="number" class="form-control" id="review-rating" />
    </div>

    <div class="form-group">
        <label for="review-rating">FilmStudio</label>
        <input @bind="@FilmStudioId" type="number" class="form-control" id="review-rating" />
    </div>

    <div class="form-group">
        <label for="review-comment">Comment</label>
        <input @bind="@Comment" type="text" class="form-control" id="review-comment" />
    </div>

    <button @onclick="AddReview" class="btn btn-primary">Submit</button>
    <button @onclick="BlazoredModal.Cancel" class="btn btn-secondary">Cancel</button>
    </div>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter] public Movie Movie { get; set; }
    int FilmStudioId;
    int Rating;
    string Comment;

    //Movie Movie {get;set;}

    private async Task AddReview()
    {
        var review = new Review{FilmStudioId = FilmStudioId, Comment = Comment, MovieId = Movie.Id, Rating = Rating};
        await Http.PostJsonAsync("http://localhost:4000/api/reviews", review);
        toastService.ShowSuccess("Your Review was succesfully added", "Review Added!");
        BlazoredModal.Close(ModalResult.Ok<Movie>(Movie));
    }

}