@inject  HttpClient Http;
@inject IModalService Modal
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">SFF</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
        <button @onclick="@AddMovie" class="btn btn-primary">Search</button>
        <button @onclick="@AddMovie" class="btn btn-primary">Add Movie</button>
        <button @onclick="@AddTrivia" class="btn btn-primary">Add Trivia</button>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-media-play" aria-hidden="true"></span> Movies
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    Movie[] _movies;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    void AddMovie()
      {
        Modal.Show<AddMovie>("Add Movie");
      }
      void AddTrivia()
      {
        Modal.Show<AddTrivia>("Add Trivia");
      }
    protected override async Task OnInitializedAsync() =>
          _movies = await Http.GetJsonAsync<Movie[]>("http://localhost:4000/api/movies");
}
